@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@400;500;700;800&family=Raleway:wght@400;500;600&display=swap");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

img, svg {
  display: block;
}

html, body {
  --background: #F8F8F8;
  --background-2: #F3F3F3;
  --text: #23292D;
  --gradient-color: linear-gradient(150deg, #8332a8, #b967f0 75%);
  min-height: 100%;
  background: var(--background-2);
  color: var(--color);
  scroll-behavior: smooth;
}

h2 {
  font: bold 1.5rem "Poppins", sans-serif;
  color: var(--background);
  display: block;
}

h3 {
  font: 500 1rem "Poppins", sans-serif;
  color: var(--text);
  line-height: 1.5rem;
  font-weight: bold;
}

.body {
  font: 0.8rem "DM Sans", sans-serif;
  color: var(--text);
  letter-spacing: 0.02em;
}

div {
    display: block;
}

.body {
  font: 0.8rem "DM Sans", sans-serif;
  color: var(--text);
  letter-spacing: 0.02em;
}

nav {
    background: var(--background-2);
    position: fixed;
    width: 100vw;
    padding: 1.5rem 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}

/* .nav__bar .title {
    font: bold 0.8rem 'Poppins', sans-serif;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    inset: 0px;
    margin: auto auto auto auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
} */

.nav__bar .title {
    font: bold 0.8rem 'Poppins', sans-serif;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    top: 50%;               /* Center vertically */
    left: 50%;              /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the element by half of its width and height */
    width: fit-content;
    height: fit-content;
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main {
  background: var(--background-2);
  min-height: 100%;
  width: 90%;
  margin: 0px auto;
  padding-bottom: 10%;
}

.home {
    min-height: 15vh;
    padding-top: 5vh;
}

.modal {
    left: 25%;
    width: 50%;
}
.modal {
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 5%;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
}

section {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section__title {
  background: #b967f0;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

section:not(.home) {
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  background: var(--background);
  margin-bottom: 3rem;
}

section:not(.home, .portfolio) > .container {
  margin: 30px auto 4em auto;
  width: 90%;
  height: 100%;
}

@media screen and (min-width: 550px) {
  
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.9rem;
  }
  .body {
    font-size: 1rem;
  }
  main {
    width: 80%;
  }
  section:not(.home, .portfolio) {
    margin-bottom: 3rem;
  }
  section .container {
    margin: 40px auto 4em auto;
    width: 80%;
    height: 100%;
  }
}

.portfolio .container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, 1fr);
  grid-column-gap: 20px;
  grid-auto-flow: column;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/*   overflow: scroll; */
  scroll-behavior: smooth;
  padding-bottom: 1em;
  margin: 40px auto 1em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
}

.portfolio .portfolio__card {
  background: var(--background);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  scroll-snap-align: center;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  max-width: 65vw;
  width: 300px;
  cursor: pointer;
  border: 1px solid rgba(166, 166, 166, 0.1);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  overflow: hidden;
}

.portfolio .portfolio__card .portfolio__image {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.portfolio .portfolio__card .captions {
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio__card .captions h3 {
  color: var(--text);
  font-weight: 500;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.portfolio .portfolio__card .captions svg {
  fill: var(--text);
  -webkit-transition: 50ms;
  transition: 50ms;
}

.portfolio .portfolio__card a {
  background: #1BDC8C;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 1em;
  margin: 0px 5px 1em 5px;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 2em;
}

.portfolio .portfolio__card a p {
  font-size: 0.9rem;
  font-family: 'DM Sans', sans-serif;
  color: #cb73f0;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-left: 1em;
}

.portfolio .portfolio__card:first-child {
  margin-left: 8vw;
}

.portfolio .portfolio__card:last-child {
  margin-right: 8vw;
}

.portfolio .portfolio__card:hover .captions svg {
  fill: #1BDC8C;
}

.portfolio .portfolio__card:hover .captions h3 {
  color: #1BDC8C;
}

.portfolio .portfolio__arrows button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #1BDC8C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.portfolio .portfolio__arrows button svg {
  stroke: var(--background);
}

.portfolio .portfolio__arrows button.left {
  left: 2%;
}

.portfolio .portfolio__arrows button.right {
  right: 2%;
}

.portfolio a {
  background: #1BDC8C;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 1em;
  margin: 0px 5px 1em 5px;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 2em;
}

.portfolio a p {
  font-size: 0.9rem;
  font-family: 'DM Sans', sans-serif;
  color: #f8f8f8;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-left: 1em;
}

@media screen and (min-width: 550px) {
  .portfolio {
    overflow: none;
  }
  .portfolio .portfolio__card:first-child {
    margin-left: 3vw;
  }
  .portfolio .portfolio__card:last-child {
    margin-right: 3vw;
  }
  .portfolio .portfolio__arrows button {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1260px) {
  .portfolio .container {
    width: 90%;
    max-height: 160vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2em;
    overflow: none;
  }
  .portfolio .portfolio__card {
    width: 30%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .portfolio__card .portfolio__image {
    width: 100%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolio .portfolio__card .captions {
    width: 100%;
  }
  .portfolio .portfolio__card:first-child, .portfolio .portfolio__card:last-child {
    margin: 0px;
  }
  .portfolio .portfolio__arrows {
    display: none;
  }
}

@media screen and (min-width: 1390px) {
  .portfolio .container {
    max-height: 180vh;
  }
}

@media screen and (min-width: 1650px) {
  .portfolio {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 135vh;
  }
  .portfolio .portfolio__card {
    width: 23%;
  }
}


