
html, body {
  --background: #F8F8F8;
  --background-2: #F3F3F3;
  --text: #23292D;
  --gradient-color: linear-gradient(150deg, #4d1d8a, #be38fb 75%);
  min-height: 100%;
  background: var(--background-2);
  color: var(--color);
  scroll-behavior: smooth;
}

h2 {
  font: bold 1.5rem "Poppins", sans-serif;
  color: var(--background);
  display: block;
}

h3 {
  font: 500 1rem "Poppins", sans-serif;
  color: var(--text);
  line-height: 1.5rem;
  font-weight: bold;
}

.body {
  font: 0.8rem "DM Sans", sans-serif;
  color: var(--text);
  letter-spacing: 0.02em;
}

div {
    display: block;
}

.body {
  font: 0.8rem "DM Sans", sans-serif;
  color: var(--text);
  letter-spacing: 0.02em;
}

nav {
    background: var(--background-2);
    position: fixed;
    width: 100vw;
    padding: 1.5rem 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}

/* .nav__bar .title {
    font: bold 0.8rem 'Poppins', sans-serif;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    inset: 0px;
    margin: auto auto auto auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
} */

.nav__bar .title {
    font: bold 0.8rem 'Poppins', sans-serif;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    top: 50%;               /* Center vertically */
    left: 50%;              /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the element by half of its width and height */
    width: fit-content;
    height: fit-content;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main {
  background: var(--background-2);
  min-height: 100%;
  width: 90%;
  margin: 0px auto;
  padding-bottom: 10%;
}

section {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

}







 
